body, html {
	width: 100%;
	height: 100%;
}



#terminal {
	position:relative;
	height: 500px;
	padding: 60px;
	background-color: black;
	border-radius: 50px;
	border: 5px solid white;
	color:green;
	bottom: 20px;
}



.parallax {

	height: 300px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.background-img {
	z-index: -5 !important;
	position: fixed;
	opacity: 0.6;
	height: 100% !important;
	width: 100%;
}

.content-section {
    padding: 35px 20px;
	margin-top: 20px;
  }

.w-100 {
	width: 100% !important;
}

.br-0{
	border-radius: 0% !important;
}

.pt-100 {
	padding-top: 100px;
}

.jumbotron {
	margin-bottom: 0 !important;
}