{% extends "layout.html" %}

{% block bgimage %}
<img src="https://cdn.pixabay.com/photo/2015/05/15/14/21/architecture-768432_1280.jpg" alt="" class="bg-image">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 title has-text-dark has-text-centered">All Projects</h1>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Blogr.png") }}"
                                                   alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Blogr</h1>
                <h3 class="subtitle is-5">March 2021</h3>
                <div class="content">
                    <p>
                    A simple blog application where users can register, log in, view others' posts, and make and edit their own posts.
                    </p>
                    <p><strong>Created using: </strong>Ruby on Rails 6, HTML, CSS, Javascript</p>
                </div>
            </div>
            <a href="https://rails-app-blogr.herokuapp.com/" target="_blank" class="button is-info">Visit Webpage</a>
        </article>
    </div>

    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Taskr.png") }}"
                                                   alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Taskr</h1>
                <h3 class="subtitle is-5">February 2021</h3>
                <div class="content">
                    <p>
                    A simple Android application for task management.
                    </p>
                    <p><strong>Created using: </strong>Android Studio, Java</p>
                </div>
            </div>
            <a href="https://github.com/pranavrao145/taskr" target="_blank" class="button is-info">View Source Code</a>
        </article>
    </div>


    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Fulcrum.jpg") }}"
                                                   alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Fulcrum Prime</h1>
                <h3 class="subtitle is-5">January 2021</h3>
                <div class="content">
                    <p>
                    Simple yet powerful Discord bot for all the features you never knew you needed on your server.
                    </p>
                    <p><strong>Created using: </strong>Nodejs</p>
                </div>
            </div>
            <a href="https://discordbotlist.com/bots/fulcrum-prime" target="_blank" class="button is-info">View on Discord Bot List</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/You.png") }}"
                                                   alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">You.</h1>
                <h3 class="subtitle is-5">January 2021</h3>
                <div class="content">
                    <p>
                    A web application that allows users document their daily lives, including thoughts, feelings
                    and
                    goals, all in one spot!
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
            <a href="https://github.com/vishnupsatish/you" target="_blank" class="button is-info">View Source Code</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/MentorsPlatform.png") }}"
                                                   alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Mentors Platform</h1>
                <h3 class="subtitle is-5">August 2020</h3>
                <div class="content">
                    <p>
                    A platform that allows for easy reporting between teachers and their admins, as well as
                    salary and attendance tracking.
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
            <a href="https://mentors.codercookies.com/" target="_blank" class="button is-info">Visit Website</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/MasterProfile.png") }}"
                                                   alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">MasterProfile</h1>
                <h3 class="subtitle is-5">July 2020</h3>
                <div class="content">
                    <p>
                    A simple yet powerful web application designed to revolutionize the way employers get
                    information about potential candidates.
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
            <a href="https://masterprofile.herokuapp.com/how_it_works?next=%2F" target="_blank" class="button is-info">Visit Website</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/DoctorHelp.png") }}"
                                                   alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Doctor, Help!</h1>
                <h3 class="subtitle is-5">July 2020</h3>
                <div class="content">
                    <p>
                    A platform that allows patients to anonymously contact qualified doctors and get their
                    medical questions answered.
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
            <a href="http://doctorhelp.tech/posts/all" target="_blank" class="button is-info">Visit Website</a>
        </article>
    </div>
</div>
{% endblock %}
