{% extends "layout.html" %}

{% block bgimage %}
<img src="https://cdn.pixabay.com/photo/2015/05/15/14/21/architecture-768432_1280.jpg" alt="" class="bg-image">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 title has-text-dark has-text-centered">All Projects</h1>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="mt-5 image is-128x128">
                    <img src="{{ url_for('static', filename="images/Covalid.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Covalid</h1>
                <h3 class="subtitle is-5">September 2021</h3>
                <div class="content">
                    <p>
                    An open-source screening platform built with ease of use in mind, to help organizations and businesses stay safe as we recover from the COVID-19 pandemic.
                    </p>
                    <p><strong>Created using: </strong>TypeScript, React, ExpressJS</p>
                </div>
            </div>
            <a href="https://github.com/pranavrao145/covalid" target="_blank" class="button is-info">View Source Code</a>
        </article>
    </div><div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Book Club.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Book Club</h1>
                <h3 class="subtitle is-5">August 2021</h3>
                <div class="content">
                    <p>
                    A powerful platform where users can review and discuss the books they love with others.
                    </p>
                    <p><strong>Created using: </strong>Ruby on Rails 6, HTML, CSS, Javascript, Google Books API</p>
                </div>
            </div>
            <a href="https://pr-book-club.herokuapp.com/" target="_blank" class="button is-info">Visit Webpage</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Fulcrum.jpg") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Fulcrum Mark II</h1>
                <h3 class="subtitle is-5">June 2021</h3>
                <div class="content">
                    <p>A new and improved version of the original Fulcrum Prime, completely redesigned and decked out with new features, rewritten in TypeScript.</p>
                    <p><strong>Created using: </strong>NodeJS, TypeScript</p>
                </div>
            </div>
            <a href="https://top.gg/bot/827156281164955679" target="_blank" class="button is-info">View on Top.gg</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Blogr.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Blogr</h1>
                <h3 class="subtitle is-5">March 2021</h3>
                <div class="content">
                    A simple blog application where users can register, log in, view others' posts, and make and edit their own posts.
                    </p>
                    <p><strong>Created using: </strong>Ruby on Rails 6, HTML, CSS, Javascript</p>
                </div>
            </div>
            <a href="https://rails-app-blogr.herokuapp.com/" target="_blank" class="button is-info">Visit Webpage</a>
        </article>
    </div>

    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Taskr.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Taskr</h1>
                <h3 class="subtitle is-5">February 2021</h3>
                <div class="content">
                    <p>
                    A simple Android application for task management.
                    </p>
                    <p><strong>Created using: </strong>Android Studio, Java</p>
                </div>
            </div>
            <a href="https://github.com/pranavrao145/taskr" target="_blank" class="button is-info">View Source Code</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/Fulcrum.jpg") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Fulcrum Prime</h1>
                <h3 class="subtitle is-5">January 2021</h3>
                <div class="content">
                    <p>
                    Simple yet powerful Discord bot for all the features you never knew you needed on your server.
                    </p>
                    <p><strong>Created using: </strong>NodeJS</p>
                </div>
            </div>
            <a href="https://github.com/pranavrao145/fulcrum-prime" target="_blank" class="button is-info">View Source Code</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/You.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">You.</h1>
                <h3 class="subtitle is-5">January 2021</h3>
                <div class="content">
                    <p>
                    A web application that allows users document their daily lives, including thoughts, feelings
                    and
                    goals, all in one spot!
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
            <a href="https://github.com/vishnupsatish/you" target="_blank" class="button is-info">View Source Code</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/MentorsPlatform.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Mentors Platform</h1>
                <h3 class="subtitle is-5">August 2020</h3>
                <div class="content">
                    <p>
                    A platform that allows for easy reporting between teachers and their admins, as well as
                    salary and attendance tracking.
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/MasterProfile.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">MasterProfile</h1>
                <h3 class="subtitle is-5">July 2020</h3>
                <div class="content">
                    <p>
                    A simple yet powerful web application designed to revolutionize the way employers get
                    information about potential candidates.
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
            <a href="https://masterprofile.herokuapp.com/how_it_works?next=%2F" target="_blank" class="button is-info">Visit Website</a>
        </article>
    </div>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename="images/DoctorHelp.png") }}">
                </figure>
            </div>
            <div class="media-content">
                <h1 class="title is-4">Doctor, Help!</h1>
                <h3 class="subtitle is-5">July 2020</h3>
                <div class="content">
                    <p>
                    A platform that allows patients to anonymously contact qualified doctors and get their
                    medical questions answered.
                    </p>
                    <p><strong>Created using: </strong>Python, Flask, HTML, CSS, Javascript, SQLAlchemy</p>
                </div>
            </div>
            <a href="https://github.com/vishnupsatish/doctor-help" target="_blank" class="button is-info">View Source Code</a>
        </article>
    </div>
</div>
{% endblock %}
