{% extends "layout.html" %}

{% block content %}

<img src="https://cdn.pixabay.com/photo/2016/01/19/18/00/city-1150026_1280.jpg" class="background-img">

<div class="jumbotron">
    <h1 class="display-4">Hey there!</h1>
    <p class="lead">My name is Pranav!</p>
    <hr class="my-4">
    <p>Welcome to my website! Check out some of my projects below!</p>
</div>

<div class="parallax"
    style="background-image: url(https://cdn.pixabay.com/photo/2016/01/19/18/00/city-1150026_1280.jpg);"></div>

<div class="content-section text-center">
    <h1 class="text-center display-4">Projects</h1>
    <a href="{{ url_for('projects') }}" class="btn btn-primary mt-4">View all Projects</a>
</div>


{% endblock %}