<nav class="navbar is-dark" style="font-family: 'Ubuntu', sans-serif;" role="navigation" aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Projects
            </a>
            
            <a href="#" class="navbar-item">
                Contact Me
            </a>
        </div>

        <div class="navbar-end">
            <a href="https://github.com/pranavrao145" target="_blank" class="navbar-item">
                <span class="icon is-medium">
                    <i class="fab fa-github fa-lg"></i>
                </span>
            </a>
            <a href="https://www.instagram.com/_pr145_/" target="_blank" class="navbar-item">
                <span class="icon is-medium">
                    <i class="fab fa-instagram fa-lg"></i>
                </span>
            </a>
        </div>
    </div>
</nav>